@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
body {
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -0.5px;
}

/* gnb 메뉴 */


.gnb {
    width: 100%;
    height: 100%;
    background: #fff;
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 40;
    padding-top: 25px;
}
.gnb h2 {
    padding-left: 25px;
}
.gnb h2 a img {
    display: block;
    width: 67px;
}
.gnb .btn_gnb_close {
    width: 50px;
    height: 50px;
    background: url('../images/btn_gnb_close.png') no-repeat center center;
    background-size: 18px;
    text-indent: -99999px;
    cursor: pointer;
    outline: none;
    padding: 0;
    border: none;
    position: absolute;
    right: 0;
    top: 10px;
}
.gnb .gnb_list {
    width: 100%;
    margin-top: 50px;
}
.gnb .gnb_list>li>a {
    display: block;
    width: 100%;
    font-size: 24px;
    color: #111;
    font-weight: bold;
    line-height: 33px;
    padding: 12px 30px;
    box-sizing: border-box;
}
.gnb .gnb_list>li>.depth2 {
    width: 100%;
    display: none;
}
.gnb .gnb_list>li>.depth2>li>a {
    display: block;
    width: 100%;
    font-size: 16px;
    color: #111;
    line-height: 22px;
    padding: 9px 30px 9px 50px;
    box-sizing: border-box;
}
.gnb .gnb_info {
    width: 100%;
    margin-top: 20px;
}
.gnb .gnb_info li a {
    display: block;
    padding: 12px 30px;
}
.gnb .gnb_info li a img {
    display: inline-block;
    width: 24px;
    vertical-align: middle;
}
.gnb .gnb_info li a span {
    font-size: 16px;
    color: #111;
    vertical-align: middle;
}



/* 헤더 */


#header {
    width: 100%;
    height: 50px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 30;
    transition: all 0.3s;
}
#header.on {
    background: rgba(255,255,255,0.95);
}
#header .header_gnb_open {
    width: 50px;
    height: 50px;
    text-indent: -99999px;
    background: url('../images/btn_gnb_open2.png') no-repeat center center;
    background-size: 22px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s;

}
#header.on .header_gnb_open {
    background: url('../images/btn_gnb_open.png') no-repeat center center;
    background-size: 22px;
}
#header h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#header h1 a {
    display: block;
    width: 67px;
    height: 24px;
    text-indent: -99999px;
    background: url('../images/logo_white.png') no-repeat;
    background-size: 67px;
    transition: all 0.3s;
}
#header.on h1 a {
    background: url('../images/logo_red.png') no-repeat;
    background-size: 67px;
}
#header .header_search {
    width: 50px;
    height: 50px;
    text-indent: -99999px;
    background: url('../images/head_search2.png') no-repeat center center;
    background-size: 19px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s;
}
#header.on .header_search {
    background: url('../images/head_search.png') no-repeat center center;
    background-size: 19px;
}




/* 메인 */


#main {
    width: 100%;
    background: #fff;
    position: relative;
}


/* 메인 비주얼 */

#main .visual_wrap {
    width: 100%;
    height: 670px;
}
#main .visual_wrap .visual {
    width: calc(100% - 60px);
    height: 500px;
    background: url('../images/g.jpg') no-repeat center center fixed;
    background-size: cover;
    padding: 170px 30px 0;
    position: fixed;
    left: 0;
    top: 0;
}


/* 메인 검색 영역 */


#main .search_area {
    width: 100%;
    margin-top: -105px;
    padding-top: 230px;
    position: relative;
}
#main .search_area .search_area_inner {
    width: calc(100% - 60px);
    padding: 0 30px;
    position: absolute;
    left: 0;
    top: 0;
}
#main .search_area .search_area_inner .search_text {
    display: block;
    width: 315px;
    font-size: 34px;
    color: #fff;
    font-weight: bold;
    line-height: 1.2;
    opacity: 0.5;
    position: relative;
}
#main .search_area .search_area_inner .search_text::before {
    content: '';
    width: 75px;
    height: 1px;
    background: rgba(255,255,255,0.5);
    position: absolute;
    left: 190px;
    bottom: 20px;
}
#main .search_area .search_area_inner .search_text::after {
    content: '';
    width: 30px;
    height: 30.5px;
    background: url('../images/ico_search.png') no-repeat;
    background-size: 30px;
    position: absolute;
    left: 285px;
    bottom: 10px;
}


/* 검색 분류 버튼 */


#main .search_area .search_area_inner .search_list {
    width: 135px;
    overflow: hidden;
    padding-bottom: 30px;
    margin-top: 30px;
}
#main .search_area .search_area_inner .search_list li {
    float: left;
}
#main .search_area .search_area_inner .search_list li:not(:last-child){
    margin-right: 15px;
}
#main .search_area .search_area_inner .search_list li a {
    display: block;
    width: 60px;
    height: 60px;
    font-size: 16px;
    color: #fff;
    line-height: 60px;
    text-align: center;
}
#main .search_area .search_area_inner .search_list li a.on {
    color: #404040;
    background: #fff;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
    border-radius: 100%;
}


/* 검색 박스 */


#main .search_area .search_area_inner .search_box {
    width: 100%;
    height: 60px;
    background: #fff;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    position: relative;
}
#main .search_area .search_area_inner .search_box .btn_search {
    width: 48px;
    height: 48px;
    background: none;
    cursor: pointer;
    outline: none;
    border: none;
    position: absolute;
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
}
#main .search_area .search_area_inner .search_box .btn_search img {
    display: block;
    width: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#main .search_area .search_area_inner .search_box input {
    width: calc(100% - 90px);
    height: 40px;
    outline: none;
    padding: 0 15px;
    border: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}


/* 검색 키워드 리스트 */


#main .search_area .search_keyword {
    width: calc(100% - 60px);
    background: #fff;
    padding: 70px 30px 0;
}
#main .search_area .search_keyword h3 {
    font-size: 16px;
    color: #404040;
    font-weight: bold;
}
#main .search_area .search_keyword .keyword_list {
    overflow: hidden;
    margin-top: 12px;
}
#main .search_area .search_keyword .keyword_list li {
    float: left;
    border: 1px solid #b1b1b1;
    border-radius: 5px;
    margin: 2.5px;
}
#main .search_area .search_keyword .keyword_list li a {
    display: block;
    font-size: 12px;
    color: #404040;
    line-height: 30px;
    padding: 0 10px;
}




/* 프로덕트 */



#main .product {
    width: 100%;
    background: #fff;
    padding: 35px 0 52.5px;
    position: relative;
    z-index: 10;
}
#main .product h2 {
    font-size: 16px;
    color: #404040;
    font-weight: bold;
    padding-left: 30px;
}
#main .product h2 span {
    color: #808080;
}
#main .product .product_list_wrap {
    width: 100%;
    overflow-x: auto;
}
#main .product .product_list_wrap .product_list {
    width: 1085px;
    overflow: hidden;
    padding: 0 22.5px;
    margin-top: 25px;
}
#main .product .product_list_wrap .product_list li {
    float: left;
    margin: 7.5px
}
#main .product .product_list_wrap .product_list li:nth-child(8) {
    clear: both;
    float: left;
}
#main .product .product_list_wrap .product_list li a img {
    display: block;
    width: 140px;
}
#main .product .product_list_wrap .product_list li a div {
    width: calc(100% - 18px);
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    background: #229cbb;
    line-height: 40px;
    padding: 0 9px;
}
#main .product .product_list_wrap .product_list .p_list2 a div {
    background: #0068b8;
}
#main .product .product_list_wrap .product_list .p_list3 a div {
    background: #e7a21e;
}
#main .product .product_list_wrap .product_list .p_list4 a div {
    background: #b11412;
}
#main .product .product_list_wrap .product_list .p_list5 a div {
    background: #63736f;
}
#main .product .product_list_wrap .product_list .p_list6 a div {
    background: #4981b9;
}
#main .product .product_list_wrap .product_list .p_list7 a div {
    background: #98a29b;
}
#main .product .product_list_wrap .product_list .p_list8 a div {
    background: #978574;
}
#main .product .product_list_wrap .product_list .p_list9 a div {
    background: #af7836;
}
#main .product .product_list_wrap .product_list .p_list10 a div {
    background: #312d5f;
}
#main .product .product_list_wrap .product_list .p_list11 a div {
    background: #c3405a;
}
#main .product .product_list_wrap .product_list .p_list12 a div {
    background: #444;
}
#main .product .product_list_wrap .product_list .p_list13 a div {
    background: #587a4d;
}
#main .product .product_list_wrap .product_list .p_list14 a div {
    background: #1e422a;
}

/* 페인트 이데아 */

#main .paint,
#main .live {
    width: 100%;
    background: #f5f5f5;
    padding: 115px 0 70px;
    position: relative;
    z-index: 10;
}
#main .paint::before {
    content: '';
    width: calc(100% - 60px);
    height: 1px;
    background: #e6e6e6;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
#main .paint h2,
#main .live h2 {
    font-size: 37px;
    color: #000;
    font-weight: bold;
    font-family: 'Montserrat';
    position: absolute;
    left: 30px;
    top: 55px;
    z-index: 15;
}


/* 페인트 영역 슬라이드 */


#main .paint .swiper-container {
    width: 100%;
}
#main .paint .swiper-container .swiper-wrapper .swiper-slide {
    width: calc(100% - 60px);
}
#main .paint .swiper-container .swiper-wrapper .swiper-slide a img {
    display: block;
    width: 100%;
}
#main .paint .swiper-container .swiper-wrapper .swiper-slide a div {
    font-size: 16px;
    color: #000;
    line-height: 1.2;
    margin-top: 10px;
}


/* 삼화 라이브 */

#main .live {
    padding-bottom: 30px;
}
#main .live .live_visual {
    width: 100%;
    position: relative;
}
#main .live .live_visual::before {
    content: '';
    width: 40px;
    height: 40px;
    background: url('../images/icon_play.png') no-repeat;
    background-size: 40px;
    position: absolute;
    left: 30px;
    bottom: 75px;
}
#main .live .live_visual img {
    display: block;
    width: 100%;
}
#main .live .live_visual p {
    font-size: 18px;
    color: #fff;
    position: absolute;
    left: 30px;
    bottom: 35px;
}


/* SNS */


#main .sns {
    width: calc(100% - 60px);
    background: #f5f5f5;
    overflow: hidden;
    padding: 0 30px;
    position: relative;
    z-index: 10;
}
#main .sns h2 {
    float: left;
    width: 130px;
    font-size: 14px;
    color: #000;
    letter-spacing: -0.5px;
}
#main .sns h2 span {
    font-weight: bold;
}
#main .sns .sns_list {
    display: flex;
    width: calc(100% - 130px);
    justify-content: space-between;
}
#main .sns .sns_list li {
    width: 33px;
    margin: 0 30px;
}
#main .sns .sns_list li a {
    width: 100%;
}
#main .sns .sns_list li a img {
    width: 100%;
    display: block;
}


/* 다양한 소식 */


#main .news {
    width: calc(100% - 60px);
    background: #f5f5f5;
    padding: 50px 30px 30px;
    position: relative;
    z-index: 10;
}
#main .news h2 {
    width: 100%;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    position: relative;
}
#main .news h2::before {
    content: '';
    width: calc(100% - 90px);
    height: 1px;
    background: #e5e5e5;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
#main .news .news_list {
    margin-top: 15px;
}
#main .news .news_list li:not(:last-child) {
    margin-bottom: 20px;
}
#main .news .news_list li a {
    font-size: 16px;
    color: #000;
}

/* 삼화페인트 주식 */

#main .stock_wrap {
    width: calc(100% - 60px);
    background: #f5f5f5;
    padding: 40px 30px 65px;
    position: relative;
    z-index: 10;
}
#main .stock_wrap h2 {
    font-size: 24px;
    color: #000;
}
#main .stock_wrap .stock {
    display: block;
    font-size: 48px;
    color: #ff503f;
    font-weight: bold;
    margin-top: 30px;
}
#main .stock_wrap .stock_change {
    display: block;
    font-size: 16px;
    color: #ff503f;
    margin-top: 25px;
}


/* 고객지원 */

#main .info {
    width: calc(100% - 60px);
    background: #fff;
    text-align: center;
    padding: 45px 30px 30px;
    position: relative;
    z-index: 10;
}
#main .info h2 {
    font-size: 16px;
    color: #000;
    font-weight: bold;
}
#main .info .info_list {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
#main .info .info_list li {
    width: 100%;
    position: relative;
}
#main .info .info_list li:not(:last-child)::before {
    content: '';
    width: 1px;
    height: 20px;
    background: #e5e5e5;
    position: absolute;
    right: 0;
    bottom: 0;
}
#main .info .info_list li a img {
    display: inline-block;
    width: 20px;
    vertical-align: middle;
}
#main .info .info_list li a span {
    font-size: 16px;
    color: #000;
    vertical-align: middle;
}
#main .info .btn_top {
    width: 45px;
    height: 45px;
    background: url('../images/btn_top.png') no-repeat;
    background-size: 45px;
    text-indent: -99999px;
    cursor: pointer;
    outline: none;
    border: none;
    margin-top: 60px;
}



/* 푸터 */



#footer {
    width: calc(100% - 60px);
    background: #292929;
    padding: 30px;
    position: relative;
    z-index: 10;
}
#footer .addre {
    width: 100%;
}
#footer .addre h2 {
    font-size: 12px;
    color: #808080;
}
#footer .addre .tele {
    display: block;
    font-size: 25px;
    color: #fff;
    font-weight: bold;
    margin-top: 15px;
}
#footer .addre address {
    font-size: 12px;
    color: #808080;
    line-height: 20px;
    margin-top: 30px;
}
#footer .follow {
    width: 100%;
    margin-top: 20px;
}
#footer .follow h3 {
    font-size: 12px;
    color: #808080;
}
#footer .follow .f_sns_list {
    overflow: hidden;
    margin-left: -12.5px;
}
#footer .follow .f_sns_list li {
    float: left;
    width: 45px;
    height: 45px;
}
#footer .follow .f_sns_list li:not(:last-child) {
    margin-right: 5px;
}
#footer .follow .f_sns_list li a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}
#footer .follow .f_sns_list li a img {
    display: block;
    width: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#footer .btn_family_site {
    width: 150px;
    font-size: 12px;
    color: #808080;
    line-height: 40px;
    background: none;
    text-align: left;
    cursor: pointer;
    outline: none;
    border: none;
    border-bottom: 1px solid #404040;
    position: absolute;
    right: 30px;
    bottom: 30px;
}
#footer .btn_family_site::after {
    content: '';
    width: 12px;
    height: 7px;
    background: url('../images/icon-arrow-down.svg') no-repeat;
    background-size: 12px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
}
#footer .family_site_list {
    width: 150px;
    background: #292929;
    border: 1px solid #808080;
    box-sizing: border-box;
    position: absolute;
    right: 30px;
    bottom: 73px;
    display: none;
}
#footer .family_site_list li a {
    display: block;
    font-size: 12px;
    color: #808080;
    line-height: 40px;
    padding: 0 15px;
}
#footer .family_site_list li a:hover {
    background: #303030;
}