@charset "utf-8";

/* 커버 */


.cover {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 15;
    display: none;
}



/* 모바일 슬라이드 영역 */

#m_slide {
    width: 250px;
    height: 100%;
    background: #fff;
    position: fixed;
    left: -250px;
    top: 0;
    z-index: 16;
    display: none;
}
#m_slide h2 a {
    display: block;
    width: 100%;
    height: 55px;
}
#m_slide h2 a img {
    width: 100%;
    height: 100%;
}
#m_slide .m_gnb>li {
    width: 100%;
}
#m_slide .m_gnb>li>a {
    display: block;
    width: calc(100% - 10px);
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    background: #ff8c97;
    line-height: 40px;
    padding-left: 10px
}
#m_slide .m_gnb>li>.depth2>li {
    width: 100%;
}
#m_slide .m_gnb>li>.depth2>li>a {
    display: block;
    width: calc(100% - 25px);
    font-size: 12px;
    color: #707c7a;
    line-height: 40px;
    padding-left: 25px;
    position: relative;
}
#m_slide .m_gnb>li>.depth2>li>a::before {
    content: '';
    width: 8px;
    height: 8px;
    background: url('../images/m_menu_bg.png') no-repeat;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}








header {
    width: 100%;
    background: url('../images/bg_header.png') repeat-x;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}
header .header_inner {
    max-width: 1000px;
    height: 80px;
    margin: 0 auto;
    position: relative;
}
header .header_inner .btn_m_gnb {
    width: 26px;
    height: 17px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}
header .header_inner .btn_m_gnb::before {
    content: '';
    width: 26px;
    height: 3px;
    background: #545454;
    position: absolute;
    left: 0;
    top: 0;
}
header .header_inner .btn_m_gnb::after {
    content: '';
    width: 26px;
    height: 3px;
    background: #545454;
    position: absolute;
    left: 0;
    bottom: 0;
}
header .header_inner .btn_m_gnb span {
    display: block;
    width: 26px;
    height: 3px;
    background: #545454;
}
header .header_inner h1 {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
header .header_inner .gnb {
    position: absolute;
    right: 0;
    bottom: 20px;
}
header .header_inner .gnb li {
    float: left;
}
header .header_inner .gnb li:not(:last-child) {
    margin-right: 50px;
}
header .header_inner .gnb li a {
    font-size: 16px;
    color: #000;
    font-weight: bold;
}




/* 메인 영역 */

main {
    width: 100%;
    padding-top: 80px;
}


/* 메인 비주얼 */

main .visual {
    width: 100%;
}
main .visual div {
    width: 100%;
}
main .visual div a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-indent: -99999px;
    outline: none;
}
main .visual div a img {
    width: 100%;
    margin: 0 auto;
}
main .visual .slick-arrow {
    width: 25px;
    height: 49px;
    text-indent: -99999px;
    border: none;
    position: absolute;
    top: 50%;
    z-index: 5;
    transform: translateY(-50%);
    cursor: pointer;
    outline: none;
}
main .visual .slick-prev {
    background: url('../images/btn_left.png') no-repeat;
    left: 20px;
}
main .visual .slick-next {
    background: url('../images/btn_right.png') no-repeat;
    right: 20px;
}




main .visual .slick-dots {
    position: absolute;
    left: 50%;
    bottom: 12px;
    transform: translateX(-50%);
}
main .visual .slick-dots li {
    float: left;
    width: 18px;
    height: 18px;
    background: url('../images/main_dots.png') no-repeat;
    text-indent: -99999px;
    cursor: pointer;
}
main .visual .slick-dots li:not(:last-child) {
    margin-right: 25px;
}
main .visual .slick-dots .slick-active {
    background: url('../images/main_dots_1.png') no-repeat;
}



/* 섹션1 영역 */



.section1 {
    width: 100%;
    background: #ff8c97;
    margin-top: -2px;
}
.section1 .section1_inner {
    max-width: 1000px;
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 10px;
}
.section1 .section1_inner>img {
    float: left;
    margin: 19.5px 0 0 18px;
}
.section1 .section1_inner .area {
    float: left;
    margin: 10px 0 0 42px;
}
.section1 .section1_inner .area img {
    float: left;
    margin: 10px 6px 0 0;
}
.section1 .section1_inner .area select {
    float: left;
    display: block;
    width: 144px;
    font-size: 12px;
    color: #000;
    font-weight: bold;
    line-height: 38px;
    padding-left: 6px;
    border: none;
    outline: none;
}
.section1 .section1_inner .area #s_area_all {
    appearance: none;
    background: #fff url('../images/arrow_on.png') no-repeat 95% center;
    margin-right: 6px;
}
.section1 .section1_inner .area #s_area_choice {
    appearance: none;
    background: #fff url('../images/arrow_on.png') no-repeat 95% center;
}
.section1 .section1_inner form {
    float: left;
    margin: 10px 0 0 23px;
}
.section1 .section1_inner form fieldset img {
    float: left;
    margin: 10px 13px 0 0;
}
.section1 .section1_inner form fieldset input {
    float: left;
    width: 233px;
    height: 38px;
    font-size: 13px;
    padding-left: 13px;
    border: none;
    margin-right: 5px;
    box-sizing: border-box;
    outline: none;
}
.section1 .section1_inner form fieldset button {
    float: left;
    width: 109px;
    height: 38px;
    font-size: 13px;
    color: #000;
    font-weight: bold;
    background: #ffd47f;
    border: none;
    cursor: pointer;
    outline: none;
}




/* 섹션2 영역 */


main .section2 {
    width: 100%;
    background: #fff;
}
main .section2 .section2_inner {
    max-width: 1000px;
    overflow: hidden;
    padding: 50px 0;
    margin: 0 auto;
}
main .section2 .section2_inner li {
    float: left;
    width: 33.3%;
}
main .section2 .section2_inner li a {
    display: block;
    width: 100%;
    height: 274px;
}
main .section2 .section2_inner li a img {
    width: 100%;
    height: 100%;
}



/* 섹션3 영역 */



main .section3 {
    width: 100%;
    background: url('../images/bg_mainCon01.jpg');
}
main .section3 .section3_inner {
    max-width: 1000px;
    padding: 30px 0 60px;
    margin: 0 auto;
    text-align: center;
}
main .section3 .section3_inner p {
    font-size: 13px;
    margin-top: 15px;
    font-weight: bold;
    color: #868992;
}
main .section3 .section3_inner .s3_list {
    width: 100%;
    overflow: hidden;
    margin-top: 35px;
}
main .section3 .section3_inner .s3_list li {
    float: left;
    width: 25%;
}
main .section3 .section3_inner .s3_list li a {
    display: block;
    width: 100%;
}
main .section3 .section3_inner .s3_list li a img {
    display: block;
    width: 100%;
}




/* 섹션4 영역 */



main .section4 {
    width: 100%;
}
main .section4 .section4_inner {
    max-width: 1000px;
    text-align: center;
    padding: 55px 0 30px;
    margin: 0 auto;
}
main .section4 .section4_inner h2 {
    font-size: 31px;
    color: #000;
    font-weight: bold;
}
main .section4 .section4_inner p {
    font-size: 13px;
    margin-top: 20px;
    font-weight: bold;
    color: #868992;
}
main .section4 .section4_inner .s4_news {
    width: 100%;
    overflow: hidden;
    margin-top: 25px;
}
main .section4 .section4_inner .s4_news .s4_slide {
    float: left;
    width: 300px;
    height: 390px;
}
main .section4 .section4_inner .s4_news .s4_slide div {
    width: 100%;
    height: 100%;
}
main .section4 .section4_inner .s4_news .s4_slide div a {
    display: block;
    width: 100%;
    height: 100%;
}
main .section4 .section4_inner .s4_news .s4_slide div a img {
    display: block;
    width: 100%;
    height: 100%;
}

main .section4 .section4_inner .s4_news .s4_slide .slick-dots {
    position: absolute;
    right: 20px;
    bottom: 12px;
}
main .section4 .section4_inner .s4_news .s4_slide .slick-dots li {
    float: left;
    width: 8px;
    height: 8px;
    background: url('../images/btn_eventSlide_off.png') no-repeat;
    text-indent: -99999px;
    cursor: pointer;
}
main .section4 .section4_inner .s4_news .s4_slide .slick-dots li:not(:last-child) {
    margin-right: 20px;
}
main .section4 .section4_inner .s4_news .s4_slide .slick-dots .slick-active {
    background: url('../images/btn_eventSlide_on.png');
}





main .section4 .section4_inner .s4_news .iframe_wrap {
    float: right;
    width: calc(100% - 315px);
    height: 390px;
}
main .section4 .section4_inner .s4_news .iframe_wrap iframe {
    width: 100%;
    height: 100%;
}
main .section4 .section4_inner .s4_sns {
    max-width: 1000px;
    overflow: hidden;
    margin-top: 20px;
}
main .section4 .section4_inner .s4_sns .social_net {
    float: left;
    width: 272px;
    height: 60px;
    background: #62c7f3 url('../images/bg_elite_sns.png') no-repeat center center;
}
main .section4 .section4_inner .s4_sns .s4_sns_list {
    display: inline-block;
    width: calc(100% - 272px);
    height: 60px;
    border: 2px solid #62c7f3;
    border-left: none;
    box-sizing: border-box;
}
main .section4 .section4_inner .s4_sns .s4_sns_list li {
    float: left;
    width: 16.66%;
    height: 100%;
}
main .section4 .section4_inner .s4_sns .s4_sns_list li a {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -99999px;
}
main .section4 .section4_inner .s4_sns .s4_sns_list .s4_list1 a {
    background: url('../images/bg_facebook.png') no-repeat center center;
    background-size: 90%;
}
main .section4 .section4_inner .s4_sns .s4_sns_list .s4_list2 a {
    background: url('../images/bg_insta.png') no-repeat center center;
    background-size: 90%;
}
main .section4 .section4_inner .s4_sns .s4_sns_list .s4_list3 a {
    background: url('../images/bg_blog.png') no-repeat center center;
    background-size: 90%;
}
main .section4 .section4_inner .s4_sns .s4_sns_list .s4_list4 a {
    background: url('../images/bg_kakao.png') no-repeat center center;
    background-size: 90%;
}
main .section4 .section4_inner .s4_sns .s4_sns_list .s4_list5 a {
    background: url('../images/bg_elmom.png') no-repeat center center;
    background-size: 90%;
}
main .section4 .section4_inner .s4_sns .s4_sns_list .s4_list6 a {
    background: url('../images/bg_youtube.png') no-repeat center center;
    background-size: 90%;
}


/* 푸터 영역 */


footer {
    width: 100%;
    background: #f5f3f4;
    padding: 25px 0;
    position: relative;
}
footer .footer_inner {
    max-width: 1000px;
    margin: 0 auto;
}
footer .footer_inner .footer_util {
    overflow: hidden;
}
footer .footer_inner .footer_util li {
    float: left;
    padding: 0 10px;
    position: relative;
}
footer .footer_inner .footer_util li::after {
    content: '';
    width: 1px;
    height: 11px;
    background: #d9d7d8;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
footer .footer_inner .footer_util li:first-child {
    padding-left: 0;
}
footer .footer_inner .footer_util li:last-child {
    padding-right: 0;
}
footer .footer_inner .footer_util li a {
    font-size: 13px;
    color: #000;
}
footer .footer_inner address {
    font-size: 12px;
    color: #74746c;
    line-height: 18px;
    margin-top: 18px;
}
footer .footer_inner p {
    font-size: 9px;
    color: #74746c;
    margin-top: 18px;
}

footer .btn_top {
    width: 46px;
    height: 46px;
    background: url('../images/btn_top.png') no-repeat;
    text-indent: -99999px;
    border: none;
    cursor: pointer;
    outline: none;
    position: absolute;
    right: 37px;
    bottom: 70px;
}
@media screen and (max-width: 767px){

    /* 슬라이드 */

    #m_slide {
        display: block;
    }

    /* 헤더 */



    header {
        background: url('../images/bg_header.png') repeat-x center bottom;
    }
    header .header_inner {
        width: 100%;
        height: 60px;
    }
    header .header_inner .btn_m_gnb {
        display: block;
    }
    header .header_inner h1 {
        left: 50%;
        transform: translate(-50%, -50%);
    }
    header .header_inner .gnb {
        display: none;
    }

    /* 메인 영역 */


    main {
        padding-top: 60px;
    }


    .section1 .section1_inner {
        width: 100%;
        height: auto;
        overflow: hidden;
        padding: 10px 0;
    }
    .section1 .section1_inner>img {
        clear: both;
        margin-left: 10px;
    }
    .section1 .section1_inner .area {
        clear: both;
        margin: 10px 0 0 10px;
    }
    .section1 .section1_inner .area img {
        margin-right: 14px;
    }
    .section1 .section1_inner .area select {
        width: 180px;
    }
    .section1 .section1_inner form fieldset input {
        width: 250px;
    }
    .section1 .section1_inner form {
        clear: both;
        margin: 10px 0 0 10px;
    }
    .section1 .section1_inner form {
        width: 100%;
    }
    .section1 .section1_inner form fieldset input {
        width: calc(100% - 183px);
    }



    /* 섹션2 */

    main .section2 .section2_inner {
        width: 100%;
    }
    main .section2 .section2_inner li {
        width: 100%;
    }
    main .section2 .section2_inner li:not(:last-child) {
        margin-bottom: 20px;
    }
    main .section2 .section2_inner li a {
        width: cover;
        height: auto;
    }


    /* 섹션3 */


    main .section3 .section3_inner {
        width: 100%;
        padding-bottom: 30px;
    }
    main .section3 .section3_inner p {
        display: none;
    }
    main .section3 .section3_inner .s3_list {
        width: calc(100% - 20px);
        margin: 35px auto 0;
    }
    main .section3 .section3_inner .s3_list li {
        width: 50%;
    }



    /* 섹션4 */


    main .section4 .section4_inner {
        width: 100%;
        padding-top: 30px;
    }
    main .section4 .section4_inner p {
        display: none;
    }
    main .section4 .section4_inner .s4_news .s4_slide {
        width: 100%;
        height: auto;
    }
    main .section4 .section4_inner .s4_news .s4_slide div {
        margin-bottom: -2px;
    }
    main .section4 .section4_inner .s4_news .iframe_wrap {
        width: 100%;
        margin-top: 10px;
    }
    main .section4 .section4_inner .s4_sns {
        width: 100%;
    }
    main .section4 .section4_inner .s4_sns .social_net {
        width: 100%;
        background: #62c7f3 url('../images/bg_elite_sns.png') no-repeat 10px center;
    }
    main .section4 .section4_inner .s4_sns .s4_sns_list {
        width: 100%;
        height: auto;
        border: 2px solid #62c7f3;
        border-top: none;
    }
    main .section4 .section4_inner .s4_sns .s4_sns_list li {
        width: 33.3%;
        height: 50px;
    }
    main .section4 .section4_inner .s4_sns .s4_sns_list li a {
        background-size: 70%;
    }




    /* 푸터 */

    footer .footer_inner {
        width: 100%;
        text-align: center;
    }
    footer .footer_inner .footer_util {
        width: 248px;
        margin: 0 auto;
    }
    footer .footer_inner .footer_util li:nth-child(3) {
        display: none;
    }
    footer .footer_inner .footer_util li:nth-child(4) {
        display: none;
    }
    footer .footer_inner address span {
        display: block;
    }
    footer .btn_top {
        display: none;
    }
}